@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-Medium.ttf") format("truetype"),
    url("../fonts/SourceCodePro-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodeVariable-Italic.ttf") format("truetype"),
    url("../fonts/SourceCodeVariable-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-Semibold.ttf") format("truetype"),
    url("../fonts/SourceCodePro-Semibold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-SemiboldIt.ttf") format("truetype"),
    url("../fonts/SourceCodePro-SemiboldIt.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-Bold.ttf") format("truetype"),
    url("../fonts/SourceCodePro-Bold.otf") format("opentype");
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-BoldIt.ttf") format("truetype"),
    url("../fonts/SourceCodePro-BoldIt.otf") format("opentype");
  font-weight: bolder;
  font-style: italic;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-Light.ttf") format("truetype"),
    url("../fonts/SourceCodePro-Light.otf") format("opentype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "SourceCodePro";
  src: url("../fonts/SourceCodePro-LightIt.ttf") format("truetype"),
    url("../fonts/SourceCodePro-LightIt.otf") format("opentype");
  font-weight: lighter;
  font-style: italic;
}
